# Vivado junk files
*.jou
*.log
*.pb
*.wdb
*.dir/
.Xil/
*.str
*.zip

# Vivado Log
vivado.tcl

# Verilator output
obj_dir/

# Vitis output
.metadata/
*.o
*.elf


# Vivado Directory Junk (수십 기가씩 먹는 폴더들)
*.runs/
*.cache/
*.hw/
*.sim/
*.ip_user_files/

# Simulation, Waveform, Temp Files
*.vcd
*.db
*.wpc
*.prj
*.lpr
*.bat
*.ini

# VS Code / OS Setup
.vscode/
.DS_Store
Thumbs.db

# Vivado Crash Logs & Backups
hs_err_pid*.log
*.backup.jou
*.backup.log

# Block Design UI 찌꺼기
*/ui/

# Xilinx Hardware Handoff files (버전 관리를 위해 따로 릴리즈 폴더에 모으는게 아니라면 무시)
*.xsa
*.hdf

# Vitis/SDK Board Support Package (BSP는 코드를 통해 빌드 시 자동 생성되므로 보통 무시)
*.bsp/